{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block contenido %}

<div class="d-flex justify-content-center m-4 ps-4">
    <h1>
        Registrar usuario
    </h1>
</div>

<div class="d-flex justify-content-center">
    <div class="row">
        <form class="col-12 col-sm-12 col-lg-12" id="editar_perfil_usuario" action="" method="POST">
            {% csrf_token %}

            {{form | crispy}}
            
            <hr class="my-4">

            <div class="d-flex justify-content-center">
                <p><a href="{% url 'password_reset' %}" class="link-underline-primary">Olvid&eacute; mi contraseña</a></p>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary m-2">Iniciar Sesion</button>
            </div>
        </form>
        <hr class="my-4">

    </div>
</div>

{% endblock %}