{% extends "base.html" %}

{% load static %}

{% block contenido %}

<div class="d-flex justify-content-center">
    <div class="card mb-3 mt-3" style="max-width: 800px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ producto.imagen.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{ producto.nombre }}</h3>
                    <h5 class="card-text">{{ producto.compania }}</h5>
                    <h4 class="card-subtitle">Precio: ${{ producto.precio }}</h4>
                    <p class="card-text">{{ producto.descripcion }}</p>

                    <a href="{% url 'agregar_cart' producto.id %}" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                            </path>
                        </svg>
                        Agregar al carrito
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <a href="{% url 'categoria' id=producto.categoria.id %}" class="btn btn-primary m-2">Volver a categoría</a>
</div>

{% endblock %}